body{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url('https://media.kasperskydaily.com/wp-content/uploads/sites/92/2021/09/27112305/bloodystealer-and-gaming-accounts-in-darknet-featured.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.gameContainer{
  display: none;
}
h1{
  text-align: center;
  color: #fff;
}
.start-heading{
  font-size: 40px;
  color: #fff;
}
.start-button{
  display: block;
}
.startContainer{
  margin-top: 13%;
}
#game {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 5%;
  padding-right: 4%;
} 

.card-container {
  height: 115px;
  width: 115px;
  margin: 10px;
  border-radius: 10px;
}

.gif{
  height: 100%;
  width: 100%;
  display: none;
}
.result{
  text-align: center;
  color: #fff;
}
.counting{
  font-size: 40px;
}
.clicks{
  text-align: center;
  color: #fff;
}
button{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-width: 0px;
  background-color: green;
  margin: auto;
  display: none;
  color: #fff;
}
@media screen and (min-width: 751px) and (max-width: 1250px) {
  body{
    height: 120vh;
  }
  #game {
    margin: 5px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 4%;
    padding-right: 0;
  } 
}

@media screen and (max-width: 750px) {
  body{
    height: 120vh;
  }
  #game {
    margin: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 4%;
    padding-right: 0;
  } 
  .card-container{
    height: 7vh;
    width: 75px;
    margin: 5px;
  }
  
}